*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Urbanist', sans-serif;
  padding: 0 95px;
}
:root{
  --main-color: #AF7EEB;
  --second-color: #c4c4c4;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  height: 100px;
}
nav .dark-add{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
nav .dark-add img{
  height: 20px;
}
nav .dark-add button{
  width: 80px;
  height: 40px;
  background-color: var(--main-color);
  border-radius: 10px;
  border: none;
}
nav .dark-add button:hover{
  background-color: #ffff;
  border: 1px solid var(--main-color);
}
