* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Urbanist", sans-serif;
  padding: 0 95px;
}
:root {
  --main-color: #a06cdf;
  --inputs-color: #f0efef;
  --background-color: #ffff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  height: 100px;
}
nav h2 {
  color: var(--main-color);
}
nav .dark-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
nav .dark-add img {
  height: 20px;
}
nav .dark-add button {
  width: 80px;
  height: 40px;
  background-color: var(--main-color);
  color: var(--background-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
nav .dark-add button:hover {
  background-color: #ffff;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  height: 70%;
  bottom: 0;
  max-width: 640px;
  background-color: var(--background-color);
  border-radius: 15px;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 10%;
}
.popup-header h3 {
  color: var(--main-color);
}
.popup-header button {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: var(--background-color);
  cursor: pointer;
}
.popup-header button:hover {
  background-color: var(--background-color);
  border: 1px solid red;
  color: red;
}
.popup-inner hr {
  margin-bottom: 30px;
}
.popup-inner .form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.popup-inner .form label {
  margin: 30px 0 5px 0;
  font-weight: bold;
}
.popup-inner .form input,
textarea {
  background-color: var(--inputs-color);
  border: none;
  border-radius: 5px;
  padding: 0 10px;
}
#title {
  height: 30px;
  width: 80%;
}
#desc {
  height: 100px;
  padding-top: 5px;
  width: 80%;
}
#date {
  height: 30px;
}
.popup-inner .form button {
  position: absolute;
  bottom: 0;
  right: 20px;
  background-color: var(--main-color);
  color: var(--background-color);
  border: none;
  border-radius: 15px;
  width: 80px;
  height: 30px;
  cursor: pointer;
}
.popup-inner .form button:hover {
  background-color: #ffff;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.popup-inner .form select {
  position: absolute;
  bottom: 0;
  right: 250px;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  background-color: var(--inputs-color);
}
.type-filter {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  background-color: var(--inputs-color);
  margin: 30px 0 20px 0;
}
.type-filter option {
  padding: 5px;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 49%;
  min-height: 180px;
  background-color: var(--inputs-color);
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.card h3 {
  margin-bottom: 15px;
  color: var(--main-color);
}
.card p {
  margin-bottom: 10px;
}
.date-card,
.type-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
  background-color: #d8bff8;
  border-radius: 15px;
}
.type-card,
.check-card {
  position: absolute;
}
.type-card {
  right: 50%;
  bottom: 10px;
}
.check-card {
  right: 5%;
  bottom: 20px;
  width: 25px;
  height: 25px;
  background-color: var(--main-color);
}
.card button {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: var(--background-color);
  cursor: pointer;
}
.card button:hover {
  background-color: var(--background-color);
  border: 1px solid red;
  color: red;
}
